@{
    ViewData["Title"] = "Add Appointment";
}

@model AppViewModel

<div class="container">
    <h2>Choose an Appointment Time</h2>
</div>

<form method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="@Model.app.Name">Name of Group</label>
        <input asp-for="@Model.app.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.app.Size">Size of Group (1-15):</label>
        <input asp-for="@Model.app.Size" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.app.Email">Email Address:</label>
        <input asp-for="@Model.app.Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.app.Phone">Phone Number (optional):</label>
        <input asp-for="@Model.app.Phone" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.time.TimeDescription">Appointment Time:</label>
        <input type="text" asp-for="@Model.time.TimeDescription" readonly value="@Model.time.TimeDescription.ToString("h:mm tt")">
        <input type="hidden" asp-for="@Model.app.Time" value="@Model.time.TimeDescription" />
        <input type="hidden" asp-for="@Model.app.Time" name="timeID" value="@Model.time.TimeID" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Submit</button>

</form>