@{
    ViewData["Title"] = "Add Appointment";
}

@model Appointment

<div class="container">
    <h2>Please Fill in the Info Below</h2>
</div>

<form method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="@Model.Name">Name of Group</label>
        <input asp-for="@Model.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Size">Size of Group (1-15):</label>
        <input asp-for="@Model.Size" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Email">Email Address:</label>
        <input asp-for="@Model.Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Phone">Phone Number (optional):</label>
        <input asp-for="@Model.Phone" class="form-control" />
    </div>

    <div class="form-group">
        <label>Appointment Time:</label>
        <input readonly value="@ViewBag.TimeDescription">
    </div>

    <input type="hidden" asp-for="@Model.TimeID" name="timeID" value="@Model.TimeID" />

    <input type="hidden" asp-for="@Model.AppointmentID" />

    <br />

    <button type="submit" class="btn btn-primary">Submit</button>

</form>