@{
    ViewData["Title"] = "Appointment Time Slots";
}

@model List<Time>

<h5 class="display-8 lh-1">Pick a Tour Date and Time:</h5>
<br />

@*MONDAY APPOINTMENTS*@
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Monday March 28, 2022
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-bordered table-striped">

                    <thead class="font-weight-bold">
                        <tr>
                            <td>Select A Time</td>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Time t in Model.Where(t => t.TimeDescription.Date.ToString("ddd") == "Mon"))
                        {

                            <tr>
                                <td>
                                    <form asp-controller="Home" asp-action="AddAppointment" method="get">
                                        <button type="submit" class="btn @(t.SlotFilled == false ? "btn-primary" : "btn-secondary") btn-lg btn-block" @(t.SlotFilled == false ? "" : "disabled")>@t.TimeDescription.ToString("h:mm tt")</button>
                                        <input type="hidden" name="timeId" asp-for="@t.TimeID" value="@t.TimeID" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@*TUESDAY APPOINTMENTS*@
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Tuesday March 29, 2022
                </button>
            </h5>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-bordered table-striped">

                    <thead class="font-weight-bold">
                        <tr>
                            <td>Select A Time</td>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Time t in Model.Where(t => t.TimeDescription.Date.ToString("ddd") == "Tue"))
                        {

                            <tr>

                                <td>
                                    <form asp-controller="Home" asp-action="AddAppointment" method="get">
                                        <button type="submit" class="btn @(t.SlotFilled == false ? "btn-primary" : "btn-secondary") btn-lg btn-block" @(t.SlotFilled == false ? "" : "disabled")>@t.TimeDescription.ToString("h:mm tt")</button>
                                        <input type="hidden" name="timeId" value="@t.TimeID" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@*WEDNESDAY APPOINTMENTS*@
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Wednesday March 30, 2022
                </button>
            </h5>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-bordered table-striped">

                    <thead class="font-weight-bold">
                        <tr>
                            <td>Select A Time</td>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Time t in Model.Where(t => t.TimeDescription.Date.ToString("ddd") == "Wed"))
                        {

                            <tr>

                                <td>
                                    <form asp-controller="Home" asp-action="AddAppointment" method="get">
                                        <button type="submit" class="btn @(t.SlotFilled == false ? "btn-primary" : "btn-secondary") btn-lg btn-block" @(t.SlotFilled == false ? "" : "disabled")>@t.TimeDescription.ToString("h:mm tt")</button>
                                        <input type="hidden" name="timeId" value="@t.TimeID" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@*THURSDAY APPOINTMENTS*@
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Thursday March 31, 2022
                </button>
            </h5>
        </div>

        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-bordered table-striped">

                    <thead class="font-weight-bold">
                        <tr>
                            <td>Select A Time</td>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Time t in Model.Where(t => t.TimeDescription.Date.ToString("ddd") == "Thu"))
                        {

                            <tr>

                                <td>
                                    <form asp-controller="Home" asp-action="AddAppointment" method="get">
                                        <button type="submit" class="btn @(t.SlotFilled == false ? "btn-primary" : "btn-secondary") btn-lg btn-block" @(t.SlotFilled == false ? "" : "disabled")>@t.TimeDescription.ToString("h:mm tt")</button>
                                        <input type="hidden" name="timeId" value="@t.TimeID" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@*FRIDAY APPOINTMENTS*@
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Friday April 01, 2022
                </button>
            </h5>
        </div>

        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-bordered table-striped">

                    <thead class="font-weight-bold">
                        <tr>
                            <td>Select A Time</td>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Time t in Model.Where(t => t.TimeDescription.Date.ToString("ddd") == "Fri"))
                        {

                            <tr>

                                <td>
                                    <form asp-controller="Home" asp-action="AddAppointment" method="get">
                                        <button type="submit" class="btn @(t.SlotFilled == false ? "btn-primary" : "btn-secondary") btn-lg btn-block" @(t.SlotFilled == false ? "" : "disabled")>@t.TimeDescription.ToString("h:mm tt")</button>
                                        <input type="hidden" name="timeId" value="@t.TimeID" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@*SATURDAY APPOINTMENTS*@
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Saturday April 02, 2022
                </button>
            </h5>
        </div>

        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-bordered table-striped">

                    <thead class="font-weight-bold">
                        <tr>
                            <td>Select A Time</td>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Time t in Model.Where(t => t.TimeDescription.Date.ToString("ddd") == "Sat"))
                        {

                            <tr>

                                <td>
                                    <form asp-controller="Home" asp-action="AddAppointment" method="get">
                                        <button type="submit" class="btn @(t.SlotFilled == false ? "btn-primary" : "btn-secondary") btn-lg btn-block" @(t.SlotFilled == false ? "" : "disabled")>@t.TimeDescription.ToString("h:mm tt")</button>
                                        <input type="hidden" name="timeId" value="@t.TimeID" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@*SUNDAY APPOINTMENTS*@
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Sunday April 03, 2022
                </button>
            </h5>
        </div>

        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-bordered table-striped">

                    <thead class="font-weight-bold">
                        <tr>
                            <td>Select A Time</td>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Time t in Model.Where(t => t.TimeDescription.Date.ToString("ddd") == "Sun"))
                        {

                            <tr>

                                <td>
                                    <form asp-controller="Home" asp-action="AddAppointment" method="get">
                                        <button type="submit" class="btn @(t.SlotFilled == false ? "btn-primary" : "btn-secondary") btn-lg btn-block" @(t.SlotFilled == false ? "" : "disabled")>@t.TimeDescription.ToString("h:mm tt")</button>
                                        <input type="hidden" name="timeId" value="@t.TimeID" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>








