@{
    ViewData["Title"] = "My Appointments";
}

<!-- Make a table to display appoinments that have been made -->
<!-- TODO: bring in a list of made appointments from the model-->
@model List<Appointment>

<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Group Name</td>
            <td>Group Size</td>
            <td>Email</td>
            <td>Phone</td>
            @*<td>Appointment Time</td>*@
        </tr>
    </thead>

    <tbody>
        <!-- For Loop creates the table based on number of records -->
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Name</td>
                <td>@appointment.Size</td>
                <td>@appointment.Email</td>
                <td>@appointment.Phone</td>
                @*<td>@appointment.AppointmentTime</td>*@

                <td><a asp-controller="Home" asp-action="Edit" asp-route-appointmentid="@appointment.AppointmentID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-appointmentid="@appointment.AppointmentID">Delete</a></td>

            </tr>
        }

    </tbody>


</table>